<!DOCTYPE html>
<html>

  {% load static %}
  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>VetUD</title>
  <!--<link rel="stylesheet" type="text/css" href='{% static "app/styleboostrap.css" %}'>-->
  <!--<link rel="stylesheet" type="text/css" href='{% static "app/style.css" %}'>-->
  <link href='{% static "app/styleboostrap.css" %}' rel="stylesheet">
  <link href='{% static "app/style.css" %}' rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Navbar Start -->
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
          <a href="" class="navbar-brand d-block d-lg-none">
              <h1 class="m-0 display-5 text-capitalize text-white"><span class="text-primary">Vet</span>UD</h1>
          </a>
          <div class="col-lg-2">
              <a href="" class="navbar-brand d-none d-lg-block">
                  <h1 class="m-0 display-5 text-capitalize text-white"><span class="text-primary">Vet</span>UD</h1>
              </a>
          </div>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between px-3 " id="navbarCollapse">
              <div class="navbar-nav mr-auto py-0">
                  <a href="{% url 'menu_medico' %}" class="nav-item nav-link">Menu Principal</a>
                  <a href="{% url 'login' %}" class="nav-item nav-link">Cerrar Sesión</a>
              </div>

          </div>
      </nav>
    </div>
    <!-- Navbar End -->
    </div>
  <div class="row">
  
      <div class="col-md-4">
      <!-- inicio panel izqierdo -->
        
          <!-- PERFIL MASCOTAS-->
          <div class= "mascotas_registradas">
            {% for mascota in mascotas %}
            <div class="info_mas">
    
    
              <div class="texto">
                <p>Nombre: {{mascota.nombre_mascota}}</p>
                <p>Tipo: {{mascota.tipo_mascota}}</p>
                <p>Raza: {{mascota.raza_mascota}}</p>
                {% for cliente in clientes %}
                {% if cliente == mascota.id_cliente %}
                <p>Dueño: {{ cliente.nombre_cliente }}</p>
                {% endif %}
                {% endfor %}
              </div>
              
            
            </div>
            {% endfor %}     
        </div>
         
      <!-- fin panel izqierdo -->
      </div>
      <div class="col-md-4">
        <!-- inicio panel central -->
        <div class=cce>

          <!-- AGENDAR CITA -->
          <form method="POST">
          <div class=agendar_cita>
     
           <div class="fecha_hora">
             <p>Hora y fecha Cita</p>
             <label for="fecha">Fecha: </label>
             <input type="date" id="fecha" name="fecha" value="2022-12-11" min="2022-12-11" max="2023-12-31">
             
             <label for="hora">Hora: </label>
             <input type="time" id="hora" name="hora" value="10:00:00" min="10:00:00" max="15:00:00">
     
           </div>
     
           
           <div class="Btn_cita_A">
             <input type="submit" value="Agendar Cita" name="agendar_cita"> 
           </div>
          </form>
     
     
         </div>
       </div>
     
      <!-- fin panel central -->
      </div>
      <div class="col-md-4">
          <!-- inicio panel derecho -->
          <div class=cde>
            <!-- PERFIL PERSONAL -->
            {%for empleado in empleados %}
            <div class="perfil_personal">
              <div class = "foto"> </div>
              <div class = "datos">
                <p>NOMBRE: {{ empleado.nombre_emp }}</p>
                <p>DIRECCIÓN: {{ empleado.direccion_emp }}</p>
                <p>TELÉFONO: {{ empleado.telefono_emp }}</p>
                <p>CORREO: {{ empleado.correo_emp }}</p>
                {% for perfil in perfiles %}
                {% if perfil == empleado.id_perfil %}
                <p>PROFESIÓN: {{ perfil.nombre_perfil }}</p>
                {% endif %}
                {% endfor %}
                {% endfor %}
              </div>
            </div>     
      </div>
      </div>
  </div>

      <!--PRÓXIMAS CITAS 
      <div class= "proximas_citas">
        -<div class = "info">
          <p>Fecha:</p>
        </div>
        <div class = "info">
          <p>Fecha: 30 de Noviembre del 2022</p>
          <p>Hora: 15:00</p>
          <p>Paciente: MascotaA</p>
          <p>Tipo: Veterinario</p>
        </div>
        
        <div class="info">
          <p>Fecha: 14 de Diciembre del 2022</p>
          <p>Hora: 18:00</p>
          <p>Paciente: MascotaB</p>
          <p>Tipo: Estetico</p>
        </div>
        
        <div class="info">
          <p>Fecha: 20 de Febrero del 2023</p>
          <p>Hora: 12:00</p>
          <p>Paciente: MascotaC</p>
          <p>Tipo: Veterinario</p>
        </div>

        <div class="info">
          <p>Fecha: 24 de Febrero del 2023</p>
          <p>Hora: 12:00</p>
          <p>Paciente: MascotaD</p>
          <p>Tipo: Veterinario</p>
        </div>
        
      </div>-->
      
  </div>

 <!--<script src="script.js"></script>--> 
</body>

</html>